body {
  font-family: "Roboto", sans-serif;
  max-width: 1400px; 
  margin: 0 auto;
}

 a {
  color: #2E2F42;
  text-decoration: none;
 }
 a:hover {
  text-decoration: none;
  color: #404BBF;
 }
 ul {
  list-style: none;
  padding: 0;
  margin: 0;
 }
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 156px ;
  margin-right: 156px ;
  margin-top: 24px;
}
.logo {
  font-weight: 700;
  font-size: 18px;
}
.header_list {
 display: flex;
 gap: 40px;
}
.header_list a {
  font-weight: 500;
}

.header_contacts ul {
 display: flex;
  gap: 40px;
  color: #434455;
}
.blue {
  color: #404BBF;
}

.container {

}
.effective-section {
  background-image: linear-gradient(#2E2F42B2), 
                    url('../img/people-office1.png');
  background-size: cover;
  text-align: center;
  background-position: center;
   max-width: 1440px;  
  
}
.Header1 {
  font-size: 56px;
  color: #FFFFFF;
  font-weight: bold;
  padding-top: 259px;
}
.button-order{
  width: 169px;
  height: 56px;
  background-color: #4D5AE5;
  color: #FFFFFF;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 156px;
}
.button-order:hover{
  transform: scale(1.1);
  background-color: #404BBF;
}

.strategy-section1 {
  display: flex;       
  flex-wrap: wrap;     
  justify-content: center; 
  
}
.block-icon {
  width: 264px;
  height: 112px;
  border: 1px solid #8E8F99;
  border-radius: 4px;
  background-color: #F4F4FD;
  display: flex;               
  align-items: center;         
  justify-content: center;
}



.strategy-section {
  display: flex;       
  flex-wrap: wrap;     
  justify-content: center; 
            
}
.container-strategy {
  display: flex;       
  flex-wrap: wrap;     
  justify-content: center; 
  gap: 30px;  
  margin-top: 120px;
  margin-bottom: 120px;
  
}
.elem {
  width: 264px;
  height: 112px;
  border: 1px solid #8E8F99;
  border-radius: 4px;
  background-color: #F4F4FD;
  display: flex;               
  align-items: center;         
  justify-content: center; 

     
}
.icon {
    object-fit: contain; 
    text-align: center;
}
.column {
    padding-left: 20px;
    padding-right: 20px;
    flex: 1 1 264px; 
    max-width: 264px;
    padding: 5px;     
    box-sizing: border-box;
    text-align: justify;
    display: flex;
    flex-direction: column; 
    align-items: left;    
    gap: 1px;
}


.team-section{
  background: #f4f4fd;
  /* padding: 60px 20px; */
   max-width: 1440px;  
  
}
.container-team {
  padding: 64px 0 64px;
  
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 64px  32px;
  margin: 0 auto;
} 

.team-title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 40px;
}

.team-item {
  background: #FFFFFF;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  overflow: hidden;
  text-align: center;

}
.team-item-wrapper {
  padding: 16px;
}
.team-subtitle {
  margin: 8px 0 4px;
  font-size: 20px;
  font-weight: 500;
}
.team-subtitle-text {
  margin: 0 0 16px;
  font-size: 16px;
  font-weight: 400;
  color: #666;
}
.social-list {
  display: flex;
  justify-content: center;
  gap: 18px;
  padding: 0;
  margin: 0;
  list-style: none;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4d5ae5;
  color: #fff;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.social-link:hover {
  background: #40479a;
  transform: scale(1.1);
}



.ourportfolio-section {
  margin-top: 100px;
}

.container-portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;   
  gap: 24px 48px;
}
.portfolio-button {
  width: 360px;
  height: 300px;
  background-color: #4D5AE5;
  color: #F4F4FD;
  display: flex;
  padding: 40px 32px;
  text-align: left;
  font-size: 16px;
  line-height: 24px;
  border: none;
}
.portfolio-button:hover{
  background-image: url('../images/OurPortfolio/Portfolio2.png');
  color: transparent;
  border: none;
}
.portfolio-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 64px 24px;
    
}
.portfolio-item {
  background: #FFFFFF;
  overflow: hidden;
  text-align: left;
  padding-bottom: 20px;
}
.portfolio-item-wrapper {
  padding: 1px;
  border-left: 1px solid #E7E9FC;
  border-right: 1px solid #E7E9FC;
  border-bottom: 1px solid #E7E9FC;
}
.portfolio-subtitle {
  margin: 8px  4px;
  font-size: 20px;
  font-weight: 500;
}
.portfolio-subtitle-text {
  margin: 8px 0 16px;
  font-size: 16px;
  font-weight: 400;
  color: #434455;
}
